<div class="content">
   
    <form name="contactform" ng-submit="sendFeedback()" novalidate >
    <span> Name </span>
    <input type="text" placeholder="Name" ng-required="true" ng-model="contact.name">
    <br>
    <br>
    <span> Email Id </span>
    <input type="email" placeholder="Email"  ng-required="true" ng-model="contact.email">
    <br>
    <span> Comment</span>  
   <textarea placeholder="Your message" name="message" ng-model="contact.comment"></textarea>
    <input type="submit" value="Send Feedback">
    </form>
</div>