
<div class="content">        
            <button ng-click=" order = 'name' ">Order by Name</button>
            <button ng-click= "order = 'color' ">Order by Color</button>
            <input type="text" ng-model="search"  placeholder="search name"/>
            <p>{{message}}</p>
            <ul>
                <li ng-repeat="name in names| orderBy : order | filter:search"  ng-show="name.available">
                    <img ng-src={{name.thumb}} style="margin: -12px 10 0 0; float:left; width:40px;" ng-show="name.thumb"/> &nbsp; &nbsp;
                    <h3>  {{name.name}} - {{name.rate | currency}}  </h3>
                    <div class="remove" ng-click="removeList(name)">X</div>
                    <span class= "belt" style = "background: {{name.color}} " >{{name.color}} Color </span>
                </li>
            </ul>
            <form ng-submit="addName()">
                <input type="text" placeholder="name" ng-model="newname.name"/>
                <input type="text" placeholder="color" ng-model="newcolor.color"/>
                <input type="text" placeholder="rate" ng-model="newrate.rate"/>
                <input type="submit" value="Add Value">
            </form>
        </div>
       